.listProject {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      span {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }

    .btns {
      display: flex;
      align-items: center;

      span {
        margin-left: 6px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      span:nth-of-type(2) {
        svg {
          position: relative;
          top: 2px;
        }
      }
      span:nth-of-type(3) {
        svg {
          position: relative;
          top: -1px;
        }
      }

      span:hover {
        background-color: #ebebeb;
        transition: background 300ms ease;
        cursor: pointer;
      }
    }
  }
  .content {
    margin: 0;
    padding: 0;
    margin-top: 6px;
    margin-left: 11px;
    list-style: none;
    li {
      margin-bottom: 8px;
    }
  }
}
