.listTodo {
  position: absolute;
  width: 350px;
  height: 80%;
  left: 40px;
  top: 107px;
  background-color: white;
  opacity: 0.8;
  .selectedProject {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .contentListTodo {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 1rem 2rem;
    overflow-y: auto;
    height: 465px;
  }
}
