.calendar {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      span {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }

    .btns {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      span {
        svg {
          position: relative;
          top: 1px;
        }
      }
    }
    .btns:hover {
      background-color: #ebebeb;
      transition: background 300ms ease;
      cursor: pointer;
    }
  }
  .content {
    margin-top: 6px;
    ul {
      margin: 0;
      padding: 0;
      margin-left: 11px;
      list-style: none;
      .calendarItem {
        cursor: pointer;
        padding-bottom: 10px;
        font-size: 1.3rem;
      }
      .active {
        font-weight: bold;
        color: gray;
      }
    }
  }
}
