.nextSevenDays {
  .day {
    font-size: 1.3rem;
    display: flex;
    .nameDay {
    }
    .totalTodos {
      margin-left: 5px;
    }
  }
  .todos {
    ul {
      padding: 0;
      margin: 0;
    }
  }
}
